.my_log-bg{background: url(../img/download.jpg) no-repeat center center;}
.content{width: 500px;height: 530px; margin: 0 auto;background-color: white;}
.my_img1{text-align: center;}
.my_btn1{border: 0;outline: 0; background-color: #333333; color: white;}
.my_btn1:focus{box-shadow: 0px 0px 0px 0px transparent;
			outline: 0;} 
.my_btn1:hover{color: white;}
.my_a:hover{text-decoration: none;}